<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FreelancingApp"
        tools:targetApi="31">
        <activity
            android:name=".OrderEdit"
            android:exported="true" />
        <activity
            android:name=".OrderFormRead"
            android:exported="true" />
        <activity
            android:name=".activity_login"
            android:exported="true"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SignupActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".UserSelect"
            android:exported="true"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".FreelancerProfileForm"
            android:exported="true"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ClientProfileForm"
            android:exported="true"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ClientProfile"
            android:exported="true"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ClientPayment"
            android:exported="true"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ClientOrders"
            android:exported="true"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ClientAuth"
            android:exported="true"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ClientMainProfile"
            android:exported="true"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ClientDetailEdit"
            android:exported="true"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ClientAuthEdit"
            android:exported="true"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".FreelancerAuthEdit"
            android:exported="true"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".FreelancerAuth"
            android:exported="true"
            android:label="@string/title_activity_freelancer_auth"
            android:theme="@style/Theme.FreelancingApp"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".FreelancerOrders"
            android:exported="true"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".FreelancerMainProfile"
            android:exported="true"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".FreelancerProfile"
            android:exported="true"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".SentMessage"
            android:exported="true"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".SendMessage"
            android:exported="true"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".SendMessageEdit"
            android:exported="true"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".MessageLobby"
            android:exported="true"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".FreelancerView"
            android:exported="true" />
        <activity
            android:name=".ClientSetOrders"
            android:exported="true" />
        <activity
            android:name=".ViewMessage"
            android:exported="true" /> <!-- <activity -->
        <!-- android:name=".docFetching" -->
        <!-- android:exported="true" /> -->
        <activity
            android:name=".OrderLobby"
            android:exported="true" /> <!-- <activity -->
        <!-- android:name=".orders.OrderFreelanceFetch" -->
        <!-- android:exported="true" /> -->
        <!-- <activity -->
        <!-- android:name=".orders.OrderCilentFetch" -->
        <!-- android:exported="true" /> -->
        <activity
            android:name=".FreelancerFetch"
            android:exported="true" />
        <activity
            android:name=".FreelancerDetailEdit"
            android:exported="true" />
    </application>

</manifest>